apiVersion: v1
kind: ConfigMap
metadata:
  namespace: naravit
  name: nginx-config
data:
  default.conf: |
    server {
      listen 80;
      server_name _;

      location / {
      default_type application/json;
        return 200 "Naravit Bunthap";
      }
    }